@import "mixins";
@import "variables";

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dataTables_filter, .dataTables_length{
    margin-bottom: 10px;
}
.dataTables_filter label input[type=search] {
    padding: 10px 5pxx;
    border: 1px solid $primary;
    border-radius: 30px;
    font-size: 15px;
    outline: none;
}

//Login Page 
.login-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    .imgBox {
        position: relative;
        height: 100%;
        width: 50%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(225deg, $primary, $primary);
            mix-blend-mode: screen;
        }
    }
    .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        .formBox {
            width: 50%;
            .inputBox {
                margin-bottom: 20px;
                span {
                    font-size: 16px;
                    margin-bottom: 5px;
                    display: inline-block;
                    color: $grey;
                    font-weight: 300;
                    font-size: 16px;
                    letter-spacing: 1px;
                }
                input {
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    font-weight: 400;
                    border: 1px solid  $primary;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: $grey;
                    background: transparent;
                    border-radius: 30px;
                    &[type="submit"] {
                        background: $primary;
                        color: white;
                        outline: none;
                        border: none;
                        font-weight: 500;
                        cursor: pointer;
                        &:hover {
                            background:rgb(20, 17, 105);
                        }
                    }
                }
            }
            h2 {
                color: $primary;
                font-weight: 600;
                font-size: 1.5em;
                text-transform: uppercase;
                margin-bottom: 20px;
                border-bottom: 4px solid $primary;
                display: inline-block;
                letter-spacing: 1px;
            }
        }
    }
}

.body-content {
    width: calc(100% - 230px);
    height: 100%;
    margin-left: 230px;
    overflow: auto;
    transition: all 0.4s ease;    
}

td {
    border: 1px solid $primary;
}
th {
    color: #fff;
}


// Dashboard

.dashboard {
    @include body-flex;
    .db-analytics {
        display: flex;
        .db-analytic {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px;
            height: 80px;
            width: 200px;
            .analytic-text {
                display: flex;
                overflow: hidden;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid $primary-300;
                height: 100%;
                width: 60%;
                p {
                    font-weight: 500;
                    overflow: hidden;
                    color: $primary;
                    font-size: 20px;
                }
                .number {
                    font-size: 45px;
                    font-weight: 530;
                    overflow: hidden;
                    color: $primary;
                }
            }
            .analytic-icon {
                background: $primary;
                color: #fff;
                font-size: 50px;
                height: 100%;
                width: 45%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// Courses Page

.courses {
    @include body-flex;
    .course-container {
        width: 85%;
        padding: 0 10px;
        .course-table {

            .table-headings {
                th {
                    @include table-headings;
                }
                #course-reg {
                    width: 20%;
                }
                #course-modfiy {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    width: 20%;
                }            
            }
        }
        .course-data {
            .course-modify {
                a {
                    text-decoration: none;
                }
                #course-update {
                    background-color: $primary;
                }
                #course-delete {
                    background-color: red;
                }
                a {
                    text-decoration: none;
                }
                .modifyBtn {
                    font-size: 15px;
                    text-align: center;
                    padding: 5px 10px;
                    border-radius: 30px;
                    color: white;

                }
            }
        }
    }
    #add-link {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .add-course {
            @include add-button;
        }
        span {
            margin-left: 5px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    #modalBG {
        @include modalBG;
        .modal {
            @include modal;
            form {
                display: flex;
                flex-direction: row;
                width: 100%;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                .modalBtn {
                    background-color: #1C197E;
                    color: #fff;
                    width: 100%;
                    margin: 10px 0;
                    padding: 10px 15px;
                    border: none;
                }
            }
            .modalHeading {
                color: #1C197E;
                font-size: 35px;
                margin-bottom: 20px;
            }
        }
    }
}

// Halls Page

.halls {
    @include body-flex;
    .hall-container {
        width: 85%;
        padding: 0 10px;
        .table-headings {
            th {
                background-color: $primary;
                text-align: left;
                font-size: 14px;
                padding: 10px 10px;
            }
        }
        .hall-data {
            font-size: 15px;
            padding-left: 10px;
            .hall-modify {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                a {
                    text-decoration: none;
                }
                .modifyBtn {
                    font-size: 15px;
                    text-align: center;
                    padding: 5px 10px;
                    border-radius: 30px;
                    color: white;
                }
                #hall-update {
                    background-color: $primary;
                }
                #hall-delete {
                    background-color: red;
                }
            }
        }
    }
    #add-link {
        text-decoration: none;
        border: none;
        background: none;
        &:hover {
            cursor: pointer;
        }
        .add-hall {
            @include add-button;
        }
        span {
            margin-left: 5px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    #modalBG {
        @include modalBG;
        .modal {
            form {
                display: flex;
                flex-direction: row;
                width: 100%;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                .modalBtn {
                    background-color: #1C197E;
                    color: #fff;
                    width: 100%;
                    margin: 10px 0;
                    padding: 10px 15px;
                    border: none;
                }
            }
            @include modal;
            .hallInput {
                width: 100%;
                margin: 3px 0;
                padding: 10px;
                &:focus {
                    outline: $primary;
                }
            }
        }
    }
}

// Settings Page
.settings {
    @include body-flex;
    .settings-container {
        height: 80%;
        width: 80%;
        .nav-tab {
            overflow: hidden;
            border-bottom: 1px solid $primary-300;
            button {
                background: none;
                font-size: 16px;
                color: $primary-300;
                border: none;
                padding: 10px;
                transition: 0.1s;
                &:hover {
                    cursor: pointer;
                    color: $primary;
                    font-weight: bold;
                    border-bottom: 3px solid $primary;
                }
            }
            .active {
                color: $primary;
                font-weight: bold;
                border-bottom: 3px solid $primary;
            }
        }
        .tabcontent {
            padding: 10px;
        }
        #academic {
            form {
                display: flex;
                flex-direction: column;
                .settings-section {
                    display: flex;
                    width: 100%;
                    h4 {
                        font-size: 16px;
                        font-weight: 300;
                        margin: 10px 0;
                    }
                    margin-top: 10px;
                    select {
                        margin-right: 20px;
                        padding: 10px;
                        color: $primary;
                        font-weight: bold;
                        font-size: 16px;
                        border-radius: 10px;
                        border: 1px solid $primary-300;
                        outline: none;
                    }
                }
                #submit {
                    input {
                        color: #fff;
                        font-size: 16px;
                        background: $primary;
                        border-radius: 10px;
                        border: 1px solid $primary-300;
                        width: 20%;
                        padding: 10px;
                        &[type=submit] {
                            margin-top: 30px;
                            width: 100%;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

