<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel="stylesheet" href="../css/navbar.css">
  <link href="../assets/fontawesome - 5.15.3/css/all.css" rel="stylesheet">
</head>

<body>
  <nav class="sidebar">
    <div class="nav-header">
      <img src="../assets/img/ug logo.png">
      <i class="fas fa-bars menu-btn"></i>
    </div>
      <ul class="nav-menu">
        <li>
          <a href="../lib/dashboard.php">
            <i class="fas fa-chart-line"></i>
            <span class="menu-name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="../lib/courses.php">
            <i class="fas fa-book"></i>
            <span class="menu-name">Courses</span>
          </a>
        </li>
        <li>
          <a href="../lib/halls.php">
            <i class="fas fa-home"></i>
            <span class="menu-name">Exam Halls</span>
          </a>
        </li>
        <li>
          <a href="../lib/timetable.php">
            <i class="fas fa-calendar-alt"></i>
            <span class="menu-name">Timetable</span>
          </a>
        </li>
        <li>
          <a href="../lib/settings.php">
            <i class="fas fa-cog"></i>
            <span class="menu-name">Settings</span>
          </a>
        </li>
      </ul>
      <div class="nav-logout">
        <a href="../logout.php">
          <i class="fas fa-power-off"></i>
          <span class="logout-text">Logout</span>
        </a>
      </div>
  </nav>

</body>

</html>